[submodule ".registry"]
	path = .registry
	url = https://github.com/jeksterslab/universe
	shallow = true
	branch = HEAD
[submodule "semmcci"]
	path = semmcci
	url = https://github.com/jeksterslab/semmcci
	shallow = true
	registered = true
[submodule "betaSandwich"]
	path = betaSandwich
	url = https://github.com/jeksterslab/betaSandwich
	shallow = true
	registered = true
