[submodule ".registry"]
	path = .registry
	url = https://github.com/jeksterslab/jeksterslab.r-universe.dev
	branch = HEAD
[submodule "betaDelta"]
	path = betaDelta
	url = https://github.com/jeksterslab/betaDelta
[submodule "betaMC"]
	path = betaMC
	url = https://github.com/jeksterslab/betaMC
[submodule "betaNB"]
	path = betaNB
	url = https://github.com/jeksterslab/betaNB
[submodule "betaSandwich"]
	path = betaSandwich
	url = https://github.com/jeksterslab/betaSandwich
[submodule "cTMed"]
	path = cTMed
	url = https://github.com/jeksterslab/cTMed
[submodule "semmcci"]
	path = semmcci
	url = https://github.com/jeksterslab/semmcci
[submodule "simStateSpace"]
	path = simStateSpace
	url = https://github.com/jeksterslab/simStateSpace
